@import url("https://fonts.googleapis.com/css2?family=Nabla:EDPT,EHLT@30..200,24&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto:700');

    article {
    position: relative;
    padding: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    /* background-color: #1e1c20ad; */
    box-sizing: border-box;
    width: 75%;
    display: flex;
    text-align: left;
    margin-inline: auto;
    margin-top: 30px;
    margin-bottom: 150px;
    border-radius: 15px;
    background: linear-gradient(145deg, #201e22a4, #1b191d);
    box-shadow:  33px 33px 70px #171518,
                -33px -33px 70px #2523288e;    
        .left {
        position: relative;
        padding: 20px;
        padding-right: 30px;
        align-self: center;
        max-width: 450px;
        img {
        width: 100%;
        border-radius: 5px;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 20px;
        h2 {
        font-size: 37px;
        }
        p {
            padding-bottom: 5px;
            font-size: 19px;
        }
        .rated {
            width: 24%;
            padding-bottom: 15px;
        }
        ul {
        list-style: none;
        display: flex;
        gap: 15px;
        padding: 0;
        }
        img {
            width: 40px;
            height: 40px;
            display: inline-block;
            margin-right:10px ;
            cursor: pointer;
        }
        .extra {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            button {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            #downImg {
                margin-left: 20px;
                margin-right: 20px;
            }
        }
    }
    }


    
    
    /* Slider Styles */
    .typing-slider {
        font-family: Consolas, monospace;
        font-weight: bold;
        white-space: nowrap;
    }
    
    .typing-slider p {
        position: relative;
        display: inline;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0;
        animation: slide 15s steps(1) infinite; /* 5s * 3 slides */
    }
    .pp {
        font-size: 50px !important;
        text-shadow: none;
        padding: 0 !important;
    }

    .typing-slider p::after {
        content: "";
        position: absolute;
        top: 0;
        right: -3px;
        bottom: 0;
        border-left: 3px solid black;
        background: linear-gradient(145deg, #201e22, #1b191da6);
        animation: typing 10s infinite, cursor 1s infinite;
    }
    
    .typing-slider p:nth-child(1) {
        animation-delay: 0s;
    }
    
    .typing-slider p:nth-child(1)::after {
        animation-delay: 0s;
        animation-timing-function: steps(16, end);
    }

    @keyframes cursor {
        from, to {
        border-color: transparent;
        }
        50% {
        border-color: black;
        }
    }
    
    @keyframes typing {
        from {
        width: 100%;
        }
        90%, to {
        width: 0;
        }
    }


    #homeText {
        font-size: 80px;
    }

    .myName {
        font-size: 60px !important;
    }

    h1 {
        font-family: Nabla;
    }
    
    @font-palette-values --Nabla {
        font-family: Nabla;
        base-palette: 2;
    }
    

    .button {
    width: 165px;
    height: 62px;
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid #646cff;
    position: relative;
    background: #1d1d1d;
    transition: 0.1s;
    margin-right: 1px;
    }

    .button::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(255, 94, 247, 1) 17.8%,
        rgba(2, 245, 255, 1) 100.2%
    );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}

.button:hover {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(255, 94, 247, 1) 17.8%,
        rgba(2, 245, 255, 1) 100.2%
        );
        transition: 0.5s;
    }

    p {
        text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
    }

    @media (min-width:0px) and (max-width: 399px) {
        article {
            width: 95%;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 50px;
            padding-bottom: 10px;
            .left {
                padding-bottom: 0;
            }
            p {
            padding-bottom: 20px;
            }
            ul {
                justify-content: center;
                gap: 9px !important;
                li {
                    font-size: 15px;
            }
        }
        .right {
            padding: 10px;
            p {
                font-size: 15px;
            }
            .rated  {
                margin-inline: auto;
            }
            }
            .pp {
                font-size: 20px !important;
                text-shadow: none;
                padding: 0 !important;
            }
        }

        #homeText {
            font-size: 65px;
        }
    
        .myName {
            font-size: 50px !important;
        }
    
        .container {
            color: #e5e5e5;
            font-size: 2.26rem;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: left;
            flex-direction: column;
            div {
            font-size: 18px; 
            }
            .specialP {
                margin-bottom: 20px;
            }
        }

    .extra {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction:column;
        button {
            margin-top: 0px;
        }
    }
    }

    @media (min-width:400px) and (max-width: 650px) {
        article {
            width: 95%;
            flex-direction: column;
            text-align: center;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 50px;
            padding-bottom: 10px;
            .left {
                padding-bottom: 0;
            }
            p {
            padding-bottom: 20px;
            }
            ul {
            justify-content: center;
            gap: 9px !important;
            li {
                font-size: 15px;
            }
            }
            .right {
                padding: 10px;
                .rated  {
                    margin-inline: auto;
                }    
            }
            .pp {
                font-size: 30px !important;
                text-shadow: none;
                padding: 0 !important;
            }
        }
        #homeText {
            font-size: 65px;
        }
        .myName {
            font-size: 50px !important;
        }
        .container {
            color: #e5e5e5;
            font-size: 2.26rem;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: left;
            flex-direction: column;
            div {
            font-size: 18px; 
            }
            .specialP {
                margin-bottom: 20px;
            }
        }
    .extra {
        display: flex;
        align-items: center;
        flex-direction:column;
        justify-content: center;
        button {
            margin-top: 0px;
        }
    }
    }


    @media (min-width:650px) and (max-width: 900px) {
    article {
        width: 95%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
        p {
        padding-bottom: 20px;
        }
        ul {
        justify-content: center;
        }
        .right {
            .rated  {
                margin-inline: auto;
            }
        }
    }
    .extra {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            margin-top: 0px;
        }
    }
    }


