#root {
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.buttons {
  position: relative;
  margin-top: 60px;
  text-align: left;
  width: 75%;
  margin-inline: auto;
  z-index: 2;
  button {
    padding: 0.7rem 1.4rem;
    border: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0px;
    background-color: transparent;
    color: #646cff;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.0rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  button:hover {
    background-color: #201E22;
    color: #ebe7ef;
  }
  button.active {
    background-color: #201E22;
    color: #ebe7ef;
  }
}

.projects {
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 150px;
  text-align: left;
  width: 75%;
  padding: 20px;
  padding-bottom: 20px;
  max-width: 100%;
  background-color: #1e1c20;
  width: 75%;
  display: flex;
  text-align: left;
  margin-inline: auto;
  position: relative;
  border-radius: 15px;
  background: linear-gradient(145deg, #201e22, #1b191d);
  box-shadow:  33px 33px 70px #171518,
              -33px -33px 70px #252328;    
  .lefts {
    position: relative;
    padding: 20px;
    padding-right: 30px;
    align-self: center;
    img {
    width:100%;
    border-radius: 5px;
  }
  }
  .text {
    p {
      font-size: 21px;
    }
    a {
      display: block;
      margin: 5px;
      margin-left: 0;
    }
  }
}

@media (max-width: 900px) {
  #root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0;
    box-sizing: border-box;
    text-align: center;
  }
  .buttons {
    text-align: center;
    width: 90%;
  }
  }

@media (max-width:1200px ) {
  .projects {
    width: 95%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 50px;
    p {
    padding-bottom: 10px;
    }
    .text {
      a {
        display: inline-block;
        margin: 15px;
      }
      p {
        font-size: 19px;
      }
    }
    .lefts {
      padding: 10px;
    }
  }

}
